@model IEnumerable<EventHub_App.Models.FavouriteEvent>

@{
    ViewData["Title"] = "Index";
}

<h1>Favourite Events</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FavouriteEventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FavouriteEventDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FavouriteEventTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FavouriteEventPriceMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FavouriteEventPriceMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FavouriteEventPriceCurrency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FavouriteEventUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FavouriteEventVenue)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FavouriteEventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FavouriteEventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FavouriteEventTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FavouriteEventPriceMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FavouriteEventPriceMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FavouriteEventPriceCurrency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FavouriteEventUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FavouriteEventVenue)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
